table {
  width: 50%;
}

th.mat-sort-header-sorted {
  color: black;
}
td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child{
    padding-left: 0;
}
.header {
  display: flex;
  justify-content: flex-start;
}

.sub-header {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

img {
  width: 6rem;
}

.container{
    width: 70%;
}

.heart-icon {
  margin-top: 1rem;
  display: flex;
}

button.mat-raised-button {
  padding: 0 2rem;
}
.description{
    border-left: 5px solid rgba(0,0,0,.12);
}
h3{
    margin-left: 1rem;
}
.table-data{
    border: 1px solid rgba(0,0,0,.12);
    padding: 1rem;
}