<section class="search">
  <div>
    <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Name" #input [(ngModel)]="value">
      <button mat-button *ngIf="input" matSuffix mat-icon-button aria-label="Clear" (click)="resetName()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</section>
<section class="container">
  <div class="list">
    <div *ngIf="">
        hello
    </div>
    <mat-list role="list" *ngIf="peoples && peoples.length>0 else noData">
      <mat-list-item *ngFor="let people of peoples" role="listitem" (click)="showDetails(people)">
        {{ people.name }}
        <div class="icon">
          <mat-icon matSuffix>play_arrow</mat-icon>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="panel">
    <center-panel *ngIf="people" [data]="people"></center-panel>
  </div>
</section>

<ng-template #noData >
  <div class="error">
      Please try again with valid Name!!!
  </div>    
</ng-template>